* {
    margin: 0;
    padding: 0;
   box-sizing: content-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

.head{
    font-family: 'Bungee Outline', "cursive";
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 44px;
    color:  blue;
    text-shadow: 2px 2px #ff0000;
    text-align: center;

}


.inputArea,
.dataList {
    background-color: #aeffd9;
    margin: 10px;
    text-align: start;
    padding: 10px;

}

.paper{
    box-shadow: 10px 20px 30px 30px #888888 !important;
    border: 4px solid #493131;
}



.listBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px !important;
    height: 80px !important;
    animation: spin 2s linear infinite !important;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  